body {
    background-color: #f4f7fa;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: #495057;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

#productForm {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

.product-form-header .col {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#productInputs .product {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#productInputs .input-group {
    flex-grow: 1;
    position: relative;
}

#productInputs .btn-danger {
    padding: 0.375rem 0.75rem;
    font-size: 0.8rem;
    background-color: #dc3545;
    border: none;
    border-radius: 0.25rem;
    box-shadow: none;
    margin-left: 0.5rem;
}

#productInputs .btn-danger:hover {
    background-color: #c82333;
}

#productInputs .autocomplete-results {
    display: none;
    position: absolute;
    width: calc(100% - 0.5rem);
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#productInputs .autocomplete-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#productInputs .autocomplete-item:hover {
    background-color: #f8f9fa;
}

#totalCostDisplay {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
